.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.menu li{
    display: inline-block;
    margin:10px;
    background-color: rgb(150, 165, 177);
    padding: 10px;
}
.menu li.active{
  background-color: rgb(117, 253, 5);
}